.page-wrapper{
    background: #e9f0f9;
    padding: 80px 0;
}
.wrapper{
    background-color: #fff;
    padding: 20px;
    width: 700px;
    margin: 0 auto;
    font-size:14px;
}
.mrg-bot20{
    margin-bottom:20px;
}

