#avatarsection #option{
    position: absolute;
    left:130px;
    top: 0px;
}
#option > label, #option > #del_avatar {
    display: block;
    margin-bottom: 5px;
}
#imageshow{
    width: 130px;
    text-align: center;
    margin-right: 2px;
    position: relative;
}
img#preview, img.default_avatar{
    border: 1px solid #888;
    width:128px;
    height:128px;
    cursor: pointer;
    /*transition: 0.3s;*/
    margin-bottom: 5px;
}

/*model image*/
img#preview:hover {opacity: 0.7;}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 3px; /* Location of the box */
    left: 0;
    top: 180px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    border-radius: 4px;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 500px;
    max-width: auto;
    
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    text-align: center;
    color: #ccc;
    padding: 0;
    height: auto;
}

/* Add Animation - Zoom in the Modal */
#myModal,.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: -10px;
    right: -9px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 21;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/* 100% Image Width on Smaller Screens */
/*@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/*--------------------------------------------------*/
@media print {
    body * {
        visibility: hidden;
    }
    .print-section * {
        visibility: visible;
    }
    .print-section {
        position: absolute;
        left: 0;
        top: 0;
    }
}


/*
// css for skill
*/
.skillname{
    /*border-right: 2px solid black;*/
} 

.expertisetext{
    position: relative;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    padding: 5px 20px;
}
.besidetext{
    padding: 5px 20px;
}
.undertext{
    display: block;
    padding: 5px 0px;
}

#skillguide{
    position: fixed;
    top: 162px;
    right: 0;
    width: 237px;
    padding: 0 2px;
    z-index: auto;
}
#content-guide{
    background-color: #f5f5f5;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
    width: 100%;
    
}
#skillguide .option{
    display: block;
    float:right;
}

.container-non-responsive {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* Set width to your desired site width */
  width: 890px;
}