<div class="footer">
sdsdsd
</div>
      
</boby>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="assets/jquery/jquery-2.1.1.min.js"><\/script>')
  </script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <script src="assets/jquery-cookie/jquery.cookie.js"></script>

  <!--page specific plugin scripts-->
  <script type="text/javascript" src="assets/jquery-validation/dist/jquery.validate.min.js"></script>
  <script type="text/javascript" src="assets/jquery-validation/dist/additional-methods.min.js"></script>
  <script type="text/javascript" src="assets/chosen-bootstrap/chosen.jquery.js"></script>
  <script type="text/javascript" src="assets/chosen-bootstrap/chosen.jquery.min.js"></script>
  <script type="text/javascript" src="assets/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
  <script type="text/javascript" src="assets/jquery-tags-input/jquery.tagsinput.min.js"></script>
  <script type="text/javascript" src="assets/jquery-pwstrength/jquery.pwstrength.min.js"></script>
  <script type="text/javascript" src="assets/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
  <script type="text/javascript" src="assets/bootstrap-duallistbox/duallistbox/bootstrap-duallistbox.js"></script>
  <script type="text/javascript" src="assets/dropzone/downloads/dropzone.min.js"></script>
  <script type="text/javascript" src="assets/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
  <script type="text/javascript" src="assets/clockface/js/clockface.js"></script>
  <script type="text/javascript" src="assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
  <script type="text/javascript" src="assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="assets/bootstrap-daterangepicker/date.js"></script>
  <script type="text/javascript" src="assets/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="assets/bootstrap-switch/static/js/bootstrap-switch.js"></script>
  <script type="text/javascript" src="assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script> 
  <script type="text/javascript" src="assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
  <script type="text/javascript" src="assets/ckeditor/ckeditor.js"></script> 

  <!--flaty scripts-->
  <script src="js/flaty.js"></script>
  <script src="js/flaty-demo-codes.js"></script>


</html>