
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer">
Footer's Content.
</div>
      
</boby>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="assets/jquery/jquery-2.1.1.min.js"><\/script>')
  </script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <script src="assets/jquery-cookie/jquery.cookie.js"></script>

  <!--page specific plugin scripts-->
  <script type="text/javascript" src="assets/jquery-validation/dist/jquery.validate.min.js"></script>
  <script type="text/javascript" src="assets/jquery-validation/dist/additional-methods.min.js"></script>
  <script type="text/javascript" src="assets/chosen-bootstrap/chosen.jquery.js"></script>

  <!--flaty scripts-->
  <script src="js/flaty.js"></script>
  <script src="js/flaty-demo-codes.js"></script>


</html>