<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>CV Index - Team Lầy</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!--base css styles-->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/site.css">
<script type="text/javascript" src="assets/jquery/jquery-2.1.1.min.js"></script>
<!--page specific css styles-->
<link rel="stylesheet" type="text/css" href="assets/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="assets/bootstrap-daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
<link rel="stylesheet" type="text/css" href="assets/bootstrap-dialog/css/bootstrap-dialog.css" />
<link rel="stylesheet" type="text/css" href="assets/gritter/css/jquery.gritter.css" />

<!--flaty css styles-->
<link rel="stylesheet" href="css/flaty.css">
<link rel="stylesheet" href="css/flaty-responsive.css">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">


</head>
<body>
<div id="navbar" class="navbar">
<div class="col-md-8 col-md-offset-2">
<a class="navbar-brand" href="#">
<large>
<i class="fa fa-file-text-o"></i>
LẦY Resume
</large>
</a>

<!-- BEGIN Navbar Buttons -->
<ul class="nav flaty-nav pull-right">

<!-- BEGIN Button Dashboard -->
<li class="hidden-xs">
<a href="../cv" >
<i class="fa fa-tasks anim-swing"> </i>
  Dashboard
</a>
</li>
<!-- END Button Dashboard -->

<!-- BEGIN Button Dashboard -->
<li class="hidden-xs">
<a href="#">
<i class="fa fa-comments-o anim-swing"> </i>
 Contact Us
</a>
</li>
<!-- END Button Dashboard -->

<!-- BEGIN Button User -->
<li class="user-profile">
<a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
<img class="nav-user-photo" src="img/demo/avatar/avatar1.jpg" alt="Penny's Photo">
<span id="user_info">
Lầy-er
</span>
<i class="fa fa-caret-down"></i>
</a>

<!-- BEGIN User Dropdown -->
<ul class="dropdown-menu dropdown-navbar" id="user_menu">
<li class="nav-header">
<i class="fa fa-clock-o"></i>
Logined From 20:45
</li>

<li>
<a href="#">
<i class="fa fa-cog"></i>
Account Settings
</a>
</li>

<li>
<a href="#">
<i class="fa fa-user"></i>
Edit Profile
</a>
</li>

<li>
<a href="#">
<i class="fa fa-question"></i>
Help
</a>
</li>

<li class="divider visible-xs"></li>

<li class="visible-xs">
<a href="#">
<i class="fa fa-tasks"></i>
Dashboard
</a>
</li>
<li class="visible-xs">
<a href="#">
<i class="fa fa-comments-o"></i>
Contact Us
</a>
</li>

<li class="divider"></li>

<li>
<a href="/logout">
<i class="fa fa-power-off"></i>
Logout
</a>
</li>
</ul>
<!-- BEGIN User Dropdown -->
</li>
<!-- END Button User -->
</ul>
<!-- END Navbar Buttons -->
</div>
</div>
