<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>CV Builder</title>
<meta name="description" content="">
<!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!--base css styles-->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
<script type="text/javascript" src="assets/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="assets/jquery.BlockUI/jquery.blockUI.js"></script>
<!--page specific css styles-->
<link rel="stylesheet" type="text/css" href="assets/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="assets/bootstrap-daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css" />
<link rel="stylesheet" type="text/css" href="assets/bootstrap-dialog/css/bootstrap-dialog.css" />
<link rel="stylesheet" type="text/css" href="assets/gritter/css/jquery.gritter.css" />

<!--flaty css styles-->
<link rel="stylesheet" href="css/flaty.css">
<link rel="stylesheet" href="css/flaty-responsive.css">
<link rel="stylesheet" href="css/site.css">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<style>

</style>
</head>
<body>
<div id="navbar" class="navbar">
<div class="col-md-8 col-md-offset-2">
<a class="navbar-brand" href="/">
<large>
<i class="fa fa-file-text-o"></i>
CV Builder
</large>
</a>

<!-- BEGIN Navbar Buttons -->
<ul class="nav flaty-nav pull-right">

<!-- BEGIN Button Dashboard -->
<li class="hidden-xs">
<a href="/cv" >
<i class="fa fa-tasks anim-swing"> </i>
  Dashboard
</a>
</li>
<!-- END Button Dashboard -->

<!-- END Button Dashboard -->

<!-- BEGIN Button User -->
<li class="user-profile text-right">
<a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
<i class="glyphicon glyphicon-user"  ></i>
<span id="user_info">
<% if (user.Firstname.length > 0  && user.Lastname.length > 0) { %>
 <%= 'Hi, ' + `${user.Firstname[0]}${user.Lastname[0]}` %>
<% } else { %>
  Hi, Lay-er
<% }%>
</span>
<i class="fa fa-caret-down"></i>
</a>

<!-- BEGIN User Dropdown -->
<ul class="dropdown-menu dropdown-navbar" id="user_menu">

<li>
<a href="/update-profile">
<i class="fa fa-user"></i>
Edit Profile
</a>
</li>

<li>
<a href="/change-password">
<i class="fa fa-cog"></i>
Change Password
</a>
</li>


<li class="divider visible-xs"></li>

<li class="visible-xs">
<a href="#">
<i class="fa fa-tasks"></i>
Dashboard
</a>
</li>
<li class="visible-xs">
<a href="#">
<i class="fa fa-comments-o"></i>
Contact Us
</a>
</li>

<li class="divider"></li>

<li>
<a href="/logout">
<i class="fa fa-power-off"></i>
Logout
</a>
</li>
</ul>
<!-- BEGIN User Dropdown -->
</li>
<!-- END Button User -->
</ul>
<!-- END Navbar Buttons -->
</div>
</div>
