<!DOCTYPE html>
<html>

<!-- Mirrored from shamsoft.net/flaty/extra_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Sep 2015 07:26:32 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Admin page</title>
   <!-- <script type="text/javascript">
function codeAddress() {
    var data = <%- jsonData %>;
  document.write(data);

}
window.onload = codeAddress;
    </script>-->
    <script>
    function run11(){
        document.write(jsonData);
    }
    window.onload = run11;
    </script>
</head>
<body class="login-page">
<p><%= jsonData %>;</p>
<!-- BEGIN Main Content -->

    <h1>This is admin page</h1>
<!-- END Main Content -->

</body>

<!-- Mirrored from shamsoft.net/flaty/extra_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Sep 2015 07:26:32 GMT -->
</html>
