<%- include ../layouts/header.ejs %>
<link rel="stylesheet" type="text/css" href="css/cv_list.css">

<script type="text/javascript" src="assets/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript" src="js/change_password.js"></script>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="box">
                    <div class="box-title">
                        <h3>Your CV →</h3>
                        <div class="box-tool">
                            <button class="btn btn-success pull-right btn-add" data-toggle="modal" data-target="#create-cv-modal"><span class="glyphicon glyphicon-plus"></span> Add New CV</button>
						</div>
					</div>
					<div class="box-content">
                        <div class="panel panel-default">
                            <div class="panel-body">
                            
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6">
                            <% if(typeof(errorMessage) !== 'undefined') {%>
                            <% if(errorMessage.length>0) {%>
                            <div class="alert alert-error"><%= errorMessage %></div>
                            <% } %>
                            <% } %>
                            <% if(typeof(successMessage) !== 'undefined') {%>
                            <% if(successMessage.length>0) {%>
                            <div class="alert alert-success"><%= successMessage %></div>
                            <% } %>
                            <% } %>
                                <form id="form-change-password" method="post" action="change-password">
                                    <div class="form-group">
                                        <label><strong>Old Password</strong></label>
                                        <input class="form-control" id="old_pass" name="old_pass" type="password"/>
                                    </div>
                                    <div class="form-group">
                                        <label><strong>New Password</strong></label>
                                        <input class="form-control" id="new_pass" name="new_pass" type="password"/>
                                    </div>
                                    <div class="form-group">
                                        <label><strong>Confirm Password</strong></label>
                                        <input class="form-control" id="repeat_password" name="repeat_password" type="password"/>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" onclick="location.href='/cv'" class="btn btn-default pull-right" style="margin-left:10px">Cancel</button>
                                        <button id="submit" type="submit" class="btn btn-primary pull-right">Update</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../layouts/footer.ejs %>
