<%- include ../layouts/header.ejs %>
<div class="container">
<%- include ../layouts/section.ejs %>

                  
                    <div class="tab-pane fade in active" id="contact_info">
                    <p>Lầy 2222222222222222222222222222222222222222222
                    Lầy 2222222222222222222222222222222222222222222
                    Lầy 2222222222222222222222222222222222222222222
                    Lầy 2222222222222222222222222222222222222222222
                    Lầy 2222222222222222222222222222222222222222222
                    Lầy 2222222222222222222222222222222222222222222</p>
                    Lầy 2222222222222222222222222222222222222222222
                    Lầy 2222222222222222222222222222222222222222222
                    v
                    
                    v
                    
                    </div>
                    </div>

            </div>
        </div>
     </div>
</div>
</div class="section">

</div>
<%- include ../layouts/footer.ejs %>