
<div class="tab-pane fade in active"   id="contact_info">
     <h4>
        Contact Information
     </h4>
     <hr/>
     <form class="form-horizontal" id="validation-form" >
        <div class="row">
            <div class="col-sm-8 col-lg-8">
                <!-first name->
                <div class="form-group row">
                    <label class="col-sm-3 col-lg-3 control-label">First Name</label>
                    <div class="col-sm-9 col-lg-9 controls">
                        <input type="text" id="firstname" placeholder="Enter your first name"  class="form-control" data-rule-required="true" name="firstname">
                        <span for="firstname" class="help-block">This field is required.</span>
                    </div>
                </div>
                <!-last name->
                <div class="form-group row">
                    <label class="col-sm-3 col-lg-3 control-label">Last Name</label>
                    <div class="col-sm-9 col-lg-9 controls">
                        <input type="text" id="lastname" placeholder="Enter your last name" class="form-control" data-rule-required="true" name="lastname">
                        <span for="lastname" class="help-block">This field is required.</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4">
                <div class="form-group row" id="avatarsection">
                    <div id="imageshow">
                        <img id="preview" src="/img/default_avatar.jpg"/>
                        <input type="file" id="avatar" accept="image/*" onchange="loadFile(event)"   style="display: none;" name="avatar">
                    </div>
                    <div id="option" >
                        <label for="avatar" class="btn btn-success  btn-circle">
                        <i class="glyphicon glyphicon-cloud-upload"></i>
                        </label>
                        <span class="btn btn-danger btn-circle" id="del_avatar" style="opacity: 0;">
                            <i class="fa fa-times"></i>
                        </span>
                    </div>
                    <script>
                    var preview = document.getElementById('preview');
                    var del_avatar = $("#del_avatar");
                    var loadFile = function(event) {
                        var limitsize = 5*1024*1024;
                        var reader = new FileReader();
                        var imgfile = event.target.files[0];
                        reader.readAsDataURL(event.target.files[0]);
                        reader.onload = function(){
                            preview.src = reader.result;
                            del_avatar.css("opacity","1");
                        };
                    };
                    $('#option').on('click','#del_avatar',function(){
                        preview.src = "/img/default_avatar.jpg";
                        del_avatar.css("opacity","0");
                    });
                    </script>
                </div>
            </div>
        </div>
        <!-email->
        <div class="form-group row">
            <label class="col-sm-3 col-lg-2 control-label" for="email">Email Address</label>
            <div class="col-sm-9 col-lg-10 controls">
            <input type="email" name="email" id="email" class="form-control" data-rule-required="true" data-rule-email="true" placeholder="Enter your email" name="email">
            <span for="email" class="help-block">This field is required.</span>
            </div>
        </div>
        <!-phone->
        <div class="form-group row">
            <label class="col-sm-3 col-lg-2 control-label">Phone</label>
            <div class="col-sm-9 col-lg-10 controls">
                <input type="phone" placeholder="Enter your phone" class="form-control" name="phone" id="phone" data-rule-required="true" data-rule-phone="true">
                <span for="phone" class="help-block">This field is required.</span>
            </div>
        </div>
        <!-website->
        <div class="form-group row">
            <label class="col-sm-3 col-lg-2 control-label">Website</label>
            <div class="col-sm-9 col-lg-10 controls">
                <input type="text" placeholder="Enter your website" class="form-control" name="website">
            </div>
        </div>
        <!-address->
        <div class="form-group row">
            <label class="col-sm-3 col-lg-2 control-label">Address</label>
            <div class="col-sm-9 col-lg-10 controls">
                <input type="text" placeholder="Enter your address" class="form-control" name="address">
            </div>
        </div>
        <div class="form-group row">
            <button type="button" id="btnSubmit" class="btn btn-success">Save</button>
        </div>
        
    </form>   
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#btnSubmit').click(function() {
        var contact_info = {
            "firstname":$("#firstname").val(),
            "lastname":$("#lastname").val(),
            "avatar":$("#preview").src,
            "email":$("#email").val(),
            "phone":$("#phone").val(),
            "website":$("#website").val(),
            "address":$("#address").val()
        }
        $.post("/cv/1/contact-info/update", JSON.stringify(contact_info))
        .done(function(data) {
            
        })
        .fail(function(xhr, textStatus, errorThrown) { 
           
        });
     });
   }); 
</script>




