 <div class="tab-pane fade" id="experience">
    <h4> Experience</h4>
    <hr/>  
         <form class="form-horizontal" id="experience-form" >
                <div class="form-group row">
                        <label class="col-sm-3 col-lg-2 control-label">Company</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" placeholder="Enter your company" name="company"  class="form-control"  >             
                            </div>    
                </div>
                <!-Designation->
                <div class="form-group row">
                        <label class="col-sm-3 col-lg-2 control-label">Designation</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" placeholder="Enter your designation" name="designation"  class="form-control" >
                            </div>    
                </div>
                <!-Date(s)->
                <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">Date(s)</label>
                            <div class="col-sm-5 col-lg-10 controls">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" placeholder="Enter your working times" class="form-control date-range" name="date"  readonly="readonly"/>                            
                                </div>  
                            </div>
                </div>
                <!-Details-> 
                <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">Details</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <textarea class="form-control col-md-12 wysihtml5" placeholder="Enter your details" rows="6" name="detail"></textarea>
                        </div>
                </div>
                <div class="row">
                        <label class="col-sm-3 col-lg-2 control-label">&nbsp;</label>
                        <div class="col-sm-9 col-lg-10 controls">        
                            <button type="button" id="btnAddListExp"  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add To List</button>
                            <button type="button" id="btnSaveEditExp" class="btn btn-success" style="display:none"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Save</button>
                            <button type="button" id="btnCancelEditExp" class="btn" style="display:none"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;Cancel</button>
                        </div> 
                                
                </div>  
        </form>
        <div class="form-group row">
                    <div class="box">
                        <div class="box-title">
                        <h4> List of Experience</h4>
                        </div>
                        <div class="box-content">
                            <div class="table-big">
                                <table class="table table-striped table-hover fill-head" id="list-experience">
                                <thead>
                                    <tr style="font-size: 13px">
                                    <th>#</th>
                                    <th>Company</th>
                                    <th>Designation</th>
                                    <th>Date(s)</th>
                                    <th>Action</th>
                                    </tr>
                                </thead>
                                    <tbody>                          
                                    </tbody>
                                    </table>
                            </div>
                        </div>         
                            
                    </div>            
                </div>    
</div>
<script type="text/javascript" src="js/experience.js"></script>