<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Index - Team Lầy</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!--base css styles-->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/site.css">
<script type="text/javascript" src="assets/jquery/jquery-2.1.1.min.js"></script>
<!--page specific css styles-->


<!--flaty css styles-->
<link rel="stylesheet" href="css/flaty.css">
<link rel="stylesheet" href="css/flaty-responsive.css">
<link rel="stylesheet" href="css/index.css">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">


</head>

<body>
<div id="navbar" class="navbar">
    <div class="col-md-8 col-md-offset-2">
    <a class="navbar-brand" href="/">
    <large>
    <i class="fa fa-file-text-o"></i>
    CV Builder
    </large>
    </a>

    <!-- BEGIN Navbar Buttons -->
    <ul class="nav flaty-nav pull-right">

    <% if (user.Firstname.length > 0  && user.Lastname.length > 0) { %>
    <!-- BEGIN Button Dashboard -->
    <li class="hidden-xs">
    <a href="/cv" >
    <i class="fa fa-tasks anim-swing"> </i>
    Dashboard
    </a>
    </li>
    <!-- END Button Dashboard -->
    <% } %>

    <!-- END Button Dashboard -->

    <!-- BEGIN Button User -->
    <li class="user-profile text-right">
    <% if (user.Firstname.length > 0  && user.Lastname.length > 0) { %>
    <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
    <i class="glyphicon glyphicon-user"  ></i>
    <span id="user_info">
    <%= 'Hi, ' + `${user.Firstname[0]}${user.Lastname[0]}` %>
    </span>
    <i class="fa fa-caret-down"></i>
    </a>

    <ul class="dropdown-menu dropdown-navbar" id="user_menu">

    <li>
    <a href="/update-profile">
    <i class="fa fa-user"></i>
    Edit Profile
    </a>
    </li>

    <li>
    <a href="/change-password">
    <i class="fa fa-cog"></i>
    Change Password
    </a>
    </li>


    <li class="divider visible-xs"></li>

    <li class="visible-xs">
    <a href="#">
    <i class="fa fa-tasks"></i>
    Dashboard
    </a>
    </li>
    <li class="visible-xs">
    <a href="#">
    <i class="fa fa-comments-o"></i>
    Contact Us
    </a>
    </li>

    <li class="divider"></li>

    <li>
    <a href="/logout">
    <i class="fa fa-power-off"></i>
    Logout
    </a>
    </li>
    </ul>
    <!-- BEGIN User Dropdown -->
    <% } else { %>
        <a href="/login">
            <i class="glyphicon glyphicon-log-in"></i>
            <span>Login / Signup</span>
        </a>
    <% }%>
    </li>
    <!-- END Button User -->
    </ul>
    <!-- END Navbar Buttons -->
    </div>
</div>
<div class="container" align="center">
        <div class="section">
            <div class="row">
                <div class="row">
                    <h1><i class="fa fa-file-text-o"></i> CV Builder</h1><br/>
                    <h4>Create beautiful, professional resumes in minutes, free.</h4><br/>
                    <a href="/login" class="btn btn-success"><i class="fa fa-file-text-o"></i> Create CV Now</a>         
                </div>
                <br/>
                <div class="container" class>
                <div id="myCarousel" style="width: 1000px" class="carousel slide" data-ride="carousel">    
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="layout/templates/cover/Bloggs.png" alt="CV1" width="400" height="300">
                        </div>
                        <div class="item">
                            <img src="layout/templates/cover/Simple.png" alt="CV2" width="400" height="300">
                        </div>
                    </div>
                </div>
                </div>
            </div>
       </div>
</br>
</br>
</br>
</br>
</br>
</div>
<div class="footer">
    Copyright © CV Builder 2016
</div>

<script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <script src="assets/jquery-cookie/jquery.cookie.js"></script>

  <!--page specific plugin scripts-->
  <script type="text/javascript" src="assets/chosen-bootstrap/chosen.jquery.js"></script>
 
  <!--flaty scripts-->
  <script src="js/flaty.js"></script>
  <script src="js/flaty-demo-codes.js"></script>
  
  <script type="text/javascript">
  $('.carousel').carousel({
    interval: 5000
    });
  </script>
  
</body>
</html>