<% include ../layouts/header.ejs %>
<!-- BEGIN Main Content -->
<div class="error-page">
    <div class="error-wrapper">
        <h5>Page Not Found<span>404</span></h5>
        <p>Sorry, that page couldn't be found. Is there a typo in the url?</p>
        <hr/>
        <p class="clearfix">
            <a href="javascript:history.back()" class="pull-left">← Back to previous page</a>
            <a href="index-3.html" class="pull-right">Go to dashboard</a>
        </p>
    </div>
</div>
</div>
<!-- END Main Content -->
<% include ../layouts/footer.ejs %>
