 <div class="tab-pane fade" id="project">
    <h4> Project</h4>
    <hr/>
         <form class="form-horizontal" id="validation_form_project" >
          <input name="id" type="hidden" >
                <div class="form-group row">
                        <label class="col-sm-3 col-lg-2 control-label">Project</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="text" placeholder="Enter your Project Title" name="project_title" id="project-title" class="form-control" data-rule-required="true" data-rule-minlength="2" >
                                <!--<span for="project-title" class="help-block">This field is required.</span> -->
                            </div>
                </div>
                <!-URL->
                <div class="form-group row">
                        <label class="col-sm-3 col-lg-2 control-label">URL</label>
                            <div class="col-sm-9 col-lg-10 controls">
                                <input type="url" placeholder="Enter your URL" name="project_url" id="project_url" class="form-control" value="http://" >
                            </div>
                </div>
                <!-Date(s)->
                <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">Date(s)</label>
                            <div class="col-sm-5 col-lg-10 controls">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" placeholder="Enter your project dates" class="form-control date-range" name="project_date"  readonly="readonly"/>
                                </div>
                                <span class="text-danger" id="project-date-error-message"></span>
                            </div>
                </div>
<!--
        <div class="form-group">
            <label class="col-sm-3 col-lg-2 control-label">Date</label>
            <div class="col-sm-5 col-lg-10 controls">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="project_date" type="text" placeholder="" class="form-control date-picker" readonly="readonly" id="date_project"/>
                </div>
            </div>
        </div>
-->
                <!-Details->
                <div class="form-group">
                        <label class="col-sm-3 col-lg-2 control-label">Details</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <textarea class="form-control col-md-12" rows="6" id="detail_project" name="project_details"></textarea>
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-sm-3 col-lg-2 control-label">&nbsp;</label>
                        <div class="col-sm-9 col-lg-10 controls">
                            <button type="button" id="btnAddListProject"  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add To List</button>
                            <button type="button" id="btnSaveProject" class="btn btn-success" style="display:none"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Save</button>
                            <button type="button" id="btnCancelEditProject" class="btn" style="display:none"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;Cancel</button>
                        </div>
                </div>


        </form>

<div class="form-group row">
    <div class="box">
                <div class="box-title">
                    <h4> List of Project</h4>
                </div>
         <div class="box-content">
              <div class="table-big">
                  <table class="table table-striped table-hover fill-head" id="list-project">
                        <thead>
                                    <tr style="font-size: 13px">
                                    <th>Project Title</th>
                                    <th>URL</th>
                                    <th>Date(s)</th>
                                    <th>Action</th>
                                    </tr>
                         </thead>
                                    <tbody id="project_table">
                                           <td colspan="6" align="center"> No data available </td>
                                    </tbody>
                     </table>
                            </div>
                        </div>

     </div>
</div>
</div>


<script type="text/javascript" src="js/project.js"></script>
