<!DOCTYPE html>
<html>

<!-- Mirrored from shamsoft.net/flaty/extra_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Sep 2015 07:26:32 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Reset Password</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!--base css styles-->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">

    <!--page specific css styles-->

    <!--flaty css styles-->
    <link rel="stylesheet" href="css/flaty.css">
    <link rel="stylesheet" href="css/flaty-responsive.css">

    <link rel="shortcut icon" href="img/favicon.html">
        <!--basic scripts-->
    <!--<script src="../../ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="assets/jquery/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="assets/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="js/reset_password.js"></script>
    
</head>
<body class="login-page">

<!-- BEGIN Main Content -->

    <div class="login-wrapper">
    <!-- BEGIN Reset-password Form -->
    
    <form id="form-reset-password" method="post">
    <h3>Reset Your Password</h3>
    <hr/>
        <div class="form-group">
    <div class="controls">
        <label class="note">
            Please type your new password !
        </label>
    </div>
    </div>
    <div class="form-group">
    <div class="controls">
    <input type="password" id="password" name="password" placeholder="Password" class="form-control" />
    </div>
    </div>
    <div class="form-group">
    <div class="controls">
    <input type="password" id="repeat_password" name="repeat_password" placeholder="Repeat Password" class="form-control" />
    </div>
    </div>

    <div class="form-group">
    <div class="controls">
    <button type="submit" id="submit" class="btn btn-primary form-control">Reset</button>
    </div>
    </div>
    <hr/>
    <p class="clearfix">
    <a href="/forgot_password" class="goto-login pull-left">← Back to forgot password form</a>
    </p>
    </form>
    
    <!-- END Reset-password Form -->
    </div>
    <!-- END Main Content -->
</body>

<!-- Mirrored from shamsoft.net/flaty/extra_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Sep 2015 07:26:32 GMT -->
</html>
