<% include ../layouts/header.ejs %>
<!-- BEGIN Main Content -->
<div class="error-page">
    <div class="error-wrapper">
        <h5>Server Error<span>500</span></h5>
        <p>Something is wrong with server or under maintenance, please try again later.</p>
        <hr/>
        <p class="clearfix">
            <a href="javascript:history.back()" class="pull-left">â† Back to previous page</a>
            <a href="index-3.html" class="pull-right">Go to dashboard</a>
        </p>
    </div>
</div>
</div>
<!-- END Main Content -->
<% include ../layouts/footer.ejs %>
