<div class="tab-pane fade" id="summary">
    <h4>
        Summary
    </h4>          
    <hr/>
    <form class="form-horizontal"  id="validation_form_summary" autocomplete="off">
        <!-Headline->
        <div class="form-group row">
            <label class="col-sm-3 col-lg-2 control-label">Headline</label>
            <div class="col-sm-9 col-lg-10 controls">
            <input type="text" name="headline"  class="form-control">
            <span class="help-inline"><b>Web Designer, Sales Manager, Preschool Teacher, Administrative Assistant etc</b></span>
            </div>
        </div>
    
        <!-Professional Summary->
        <div class="form-group row">
            <label class="col-sm-3 col-lg-2 control-label">Professional Summary</label>
            <div class="col-sm-9 col-lg-10 controls">
                <textarea placeholder="Add a short summary about yourself..." name="prosummary"  class="form-control col-md-12 wysihtml5" rows="6"></textarea>
                <span class="help-inline"><b>Add a short summary about yourself highlighting your specialities and what value you can add for any employer. e.g. Target-driven sales professional with a proven track record of growing revenue & profit. Over 10 years of progressive experience in direct sales, channel sales and business development in the highly competitive segments of the consumer electronics industry.</b></span>
            </div>
        </div>
        
        <!-Button Save Summary->
        <div class="form-group row">
            <label class="col-sm-3 col-lg-2 control-label">&nbsp;</label>
            <div class="col-sm-9 col-lg-10 controls">
                <button type="button" id="btnSaveSummary" class="btn btn-success"><i class="fa fa-save">&nbsp;Save</i></button>
            </div>    
        </div>
    </form>   
</div>
<script type="text/javascript" src="js/summary.js"></script>
